/* 초기화 */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* 배경화면 */
.wrap{
    width:100%;    
    max-width:767px;  /* 전체 화면 크기 설정 최대 크기 설정을 하여서 모바일 사이즈로 맞췄음 */
    height: 100vh;
    margin:auto;
    background:linear-gradient(#a07952,#635d59,#162b42);     /* 배경색 다른 색으로 바꾸려면 코드를 추가하고 !important; 를 추가하면됨 */
    position:relative;
    overflow:hidden;
}

/* 가운데 글자 나오는 영역 */
.view{
    position:absolute;
    width:100%;
    height:30vmin;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
    display: none;
}

/* 가운데 글자 관리 하는 영역, 글자색, 글자 크기, 정렬 */
.view p{
    text-align:center;
    color: white;    
    font-size:12px;
}